body{
  background-color: #eee;
}
html {
font-family: sans-serif;
}

form {
  margin: 3rem;
  padding: 1rem;
  border: 1px solid black;
  text-align: center;
  background-color: white;
}

.form-control {
margin: 4rem 0;
}

/* label, input {
display: block;
} */

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 25px;
    padding-right: 15px;
}

input {
font: inherit;
padding: 0.15rem 0.2rem;
border: 1px solid #ccc;
}

input:focus {
outline: none;
background: #e0e0e0;
}

button {
font: inherit;
cursor: pointer;
background: #3c9c6c;
color: white;
border: 1px solid #000057;
padding: 1rem 2rem;
font-size: 30px;
}

#The_area {
    margin-top: 60px;
    background-color: cadetblue;
    padding: 20px 0px;
    font-size: 40px;
}

.discription{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    background-color: cadetblue;
    padding: 20px 0px;
}
